* {
    box-sizing: border-box;
}

.encabezado {
    background-color: #f8f3f3;
    height: 30vw;
    width: 100vw;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.encabezado > h1 {
    text-align: center;
}

.encabezado > p {
    text-align: center;
}

.encabezado > button {
    background-color: aqua;
    border: 4px;
    border-color: rgb(106, 163, 163);
    display: flex;
    gap: 15px;
    justify-content: center;
    border-radius: 1rem;
    
}

.slides > img {
    width: 210px;
    height: auto;
    border-radius: 10px;

}

.miyvi .contenido {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  padding: 40px 20px;
}

.bloque {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.bloque h2 {
  margin-bottom: 10px;
  font-size: 1.6rem;
}

.bloque p {
  line-height: 1.6;
}